.triangulo {
  width: 0;
  height: 0;
  border-left: 300px solid #f0ad4e;
  border-top: 0px solid transparent;
  border-bottom: 300px solid transparent;
  z-index: -1;
}

.trapecio {
  width: 100%;
  height: 0px;
  border-right: 60px solid transparent;
  border-left: 60px solid transparent;
  border-top: 300px solid #428bca;
  z-index: -1;
}

.titulo {
  font-family: "Major Mono Display", monospace;
  font-size: 4rem;
  letter-spacing: 1.3rem;
}
.texto {
  font-family: "Nerko One", cursive;
}
/* ─── FORMULARIO DE ACTUALIZACION ──────────────────────────────────────────────── */
.factualizar{
  background-color: rgb(211, 102, 0);
 }
.factualizar input:focus{
  background-color:rgb(187, 91, 2);
}
/* ───FIN FORMULARIO DE ACTUALIZACION ───────────────────────────────────────── */ 
 @media only screen and (min-width:850px) {
    .formularioPrincipal{
      width: 60% !important;
    }
    input:focus {
      width: 13rem;
    }
 }
@media only screen and (max-width:849px){
  input{
    width: 15rem;
  }
  input:focus {
    width: 16rem;
  }
} 
.campo {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  color: #ffffff;
  background-color: transparent;
  background-clip: padding-box;
  border-bottom: 1px #ecf0f1 solid;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
}
input{
  -webkit-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out;
}
input:focus {
  outline: none;
  background-color:rgb(3, 148, 51);
  border-radius: .5rem;
}
textarea{
  width: 70%;
}
textarea:focus{
  outline: none;
}
.iconos {
  padding: 0.375rem 0.75rem;
  background: transparent;
  border-left: 1px white solid;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
}

hr {
  border-radius: 2rem;
}

/* ─── TABLA ────────────────────────────────────────────────────────────────────── */
.tabla {
  background-color: rgba(209, 209, 209, 0.719);
  border-radius: 4rem;
}
::placeholder{ 
  color: white;
  opacity: 1;
} 
::-moz-placeholder { 
  color: white;
  opacity: 1;
}
::-webkit-input-placeholder{ 
  color: white;
  opacity: 1;
}

.pacman {
  width: 0;
  height: 0;
  border-right: 50px solid transparent;
  border-top: 50px solid #5f5f5f;
  border-left: 50px solid #1593b9;
  border-bottom: 50px solid #5cb85c;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  z-index: -1;
  top: 700px;
}

.iconosContactos{
  right: 1rem;
  top: -5px;
  color: rgb(255, 255, 255);
  z-index: 1;
}

.botonesContactos{
  background-color: rgb(240, 116, 0);
  color: white;
  border: none;
  transition: transform .2s; /* Animation */
}
.botonesContactos:hover{
  transform: scale(1.2);
}
.botonesContactos:focus{
  outline: none;
}


/* ───* Notificaciones ────────────────────────────────────────────────────────────── */

.notificacion {
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: 1rem 3rem;
  opacity: 0;
  transition: opacity .5s ease;
}

.visible {
  opacity: 1;
}

/*── Colores de la notificacion─────────────────────────────────────────────────────── */

.correcto {
  background-color: rgb(206, 255, 158);
  color: green;
}

.error {
  background-color: rgb(238, 148, 166);
  color: rgb(163, 0, 33);
}
